body {
    margin:0;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

/* Calendário */
table {
    width: 100%;
}

th {
    text-align: center;
}

td {
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 100px !important;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

#month, #year {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 1.42857143;
    color: #333;
}

.hover {
    background: #eee;
}

#about {
    font-size: 5em !important;
    position: absolute;
    top: -35px;
    right: 15px;
}

#about a {
    text-decoration: none;
}

#cabecalho {
    display: flex;
    align-items: center;  
    justify-content: space-around;
    width: 700px;  
    height: 60px;
}

#cabecalho h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    color: #292961;
}

#cabecalho div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

#cabecalho div span {
    color: #4747b4;
}

.dayMark {
    background-color: #e34c26;
    color:white;
}

.day {
    cursor: pointer;
}