body{
    margin:0;
    border: 0;
}

header{
    background-color: #292961;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    font-family: 'Raleway', sans-serif;
    width: 320px;
    height: 420px;
}

form h2{
    font-size: 30pt;
}

#campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 70%;
    justify-content: space-around; 
}

#campos input:nth-child(1), input:nth-child(2){
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    width: 100%;
    height: 30px;
}

#btnEntrar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnEntrar button{ 
    background: #383838;   
    font-weight: bold;
    border-radius: 20px;
    color: white;
    width: 80%;
    height: 35px;
}

#btnEntrar button:hover{
    background-color: #e34c26;
    cursor: pointer;
    font-size: 12pt;
}

#popup {
    position: fixed;
    border-radius: 25px;
    width: 480px;
    height: 350px;
    top: 0; bottom: 0;
    left: 0; right: 0;   
    margin: auto;
    display: none;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 24pt;    
    background: white;
    color: #383838;
}

#popup button{
    background-color: #e34c26;
    cursor: pointer;
    color:white;
    font-size: 12pt;
    border-radius: 20px;
    width: 60%;
    height: 35px;
}

/* Tamanho Tablet */
@media(max-width:768px){

}

/* Tamanho Smartphone */
@media(max-width:425px){  
    form{
        width: 80%;
        height: 80%;
    }

    form h2{
        font-size: 23pt;
    }
}