body{
    margin:0;
}

header {
    width: 99.9vw;
    height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h2{
    font-size: 28pt;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #2e2e2e;
    font-weight: bold;
    margin: 5px 0 0 0;
    height: 20%;
}

article {
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin:0;
    width: 100%;
    height: 100%;
}

article a{
    width: 40%;
    height: 80%;
    text-decoration: none;
    color:white;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    font-size: 20pt;
    text-align: center;
}

article a:nth-child(1){
    background-color: #4F4F4F;
}

article a:nth-child(2){
    background-color: #fc6d26;
}
