body{
    margin:0;
}

header {
    width: 99vw;
    display: flex;
}

aside {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f0f0f0;
    width: 20vw;
}

aside ul{
    padding: 0;
    list-style-type:none;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    width: 100%;
}

aside ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    color:#393982;
    font-weight: 600;
    text-decoration: none;
}

aside ul a li{   
    width: 80%;
}

aside ul a:hover{
    cursor: pointer;
    background-color: #91919185;   
    width: 100%;
}

aside ul a:hover{
    color: white;
    font-weight: 300;
    text-decoration: none;
}

aside ul a li{
    text-align: left;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 79vw; 
}

article img {
    width: 280px;
}

/* TESTE */
section {
    background: #393982;
    width: 200px;
    height: 20px;
    color:white;
}