body {
    margin:0;
}

nav {
    background-color: #292961;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    color: white;
}

nav div img {
    width: 20px;
    height: 20px;  
}

nav ul{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li{
    list-style-type:none;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
}

nav ul li a{
    color:white; 
    font-family: 'Raleway', sans-serif;
    text-decoration: none; 
}
