body {
    margin: 0;
}

section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div{
    height: 96%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e24329;
}

section div h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28pt;
    color: white;
}

section div input{
    border-radius: 9px;
    width: 256px;
    height: 40px;
    text-align: center;
    font-size: 20pt;
}

#dtReservadas{
    display: none;
}

table{
    width: 100%;
    border-collapse: collapse; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Raleway', sans-serif;   
}

thead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    background-color: #292961;  
    border-end-start-radius: 20%; 
    font-size: 16pt; 
}

tbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color:#2e2e2e;
    background-color:#e2e2e2;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0, 0.5); 
    font-size: 13pt;   
}

thead tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

thead tr td{
    width: 100px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tbody tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tbody tr td {
    width: 100px;
    text-align: center;
}

tbody tr td a {
    text-decoration: none;
    color:#2e2e2e;
    font-weight: bold;
}

tbody tr td a:hover{
    color:#fc6d26;
}

#dtReservadas article {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color:#2e2e2e;
}

#popup {
    position: fixed;
    border-radius: 25px;
    width: 480px;
    height: 350px;
    top: 0; bottom: 0;
    left: 0; right: 0;   
    margin: auto;
    display: none;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 24pt;    
    background: white;
    color: #383838;
}

#btnPopOk{
    background-color: #292961;
    cursor: pointer;
    color:white;
    font-size: 12pt;
    border-radius: 20px;
    width: 60%;
    height: 35px;
}

#btnPopCancelar{
    background-color: #e24329;
    cursor: pointer;
    color:white;
    font-size: 12pt;
    border-radius: 20px;
    width: 60%;
    height: 35px;
}

#popupErro {
    position: fixed;
    border-radius: 25px;
    width: 480px;
    height: 350px;
    top: 0; bottom: 0;
    left: 0; right: 0;   
    margin: auto;
    display: none;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 24pt;    
    background: white;
    color: #383838;
}

#btnPopOkErr{
    background-color: #292961;
    cursor: pointer;
    color:white;
    font-size: 12pt;
    border-radius: 20px;
    width: 60%;
    height: 35px;
}