body {
    margin:0;
}

section {
    display: flex;
    justify-content: center;
}

section h2{
    font-family: 'Raleway', sans-serif;
    font-size: 28pt;
    color:#2e2e2e;
    margin: 8px 0 8px 0;
}

table{
    width: 100%;
    border-collapse: collapse; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Raleway', sans-serif;   
}

thead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    background-color: #292961;  
    border-end-start-radius: 20%; 
    font-size: 16pt; 
}

tbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color:#2e2e2e;
    background-color:#e2e2e2;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0, 0.5); 
    font-size: 13pt;   
}

thead tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

thead tr td{
    width: 100px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tbody tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tbody tr td {
    width: 100px;
    text-align: center;
}

tbody tr td a {
    text-decoration: none;
    color:#2e2e2e;
    font-weight: bold;
}

tbody tr td a:hover{
    color:#fc6d26;
}